body {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 3rem;
}

label {
    margin-top: 2rem;
    font-size: 1.5rem;
}

textarea {
    font-size: 1.2rem;
    max-height: 40vh;
    font-family: 'Brill', 'Noto Serif Tamil', 'TST Grantha';
}

#input, #output {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 90vh;
    flex-direction: column;
    width: 50%;
}

#input {
    padding-right: 1.5rem;
    border-right: solid black 1px;
}
#output {
    padding-left: 1rem;
}
#input textarea {
    width: 100%;
}

#output {
    font-size: 1.2rem;
}

#output label {
    margin-bottom: 1.5rem;
}

#output > div {
    max-width: 95%;
    min-height: 40%;
    padding: 1rem;
}

#html_output {
    line-height: 3.5rem;
    font-size: 1.5rem;
    word-spacing: 0.5rem;
}

button {
    align-self: center;
    margin-top: 2rem;
    font-size: 1.2rem;
}

ruby {
    white-space: pre;
}

#assets {
    display: none;
}
